nuxeo:
  {{- tpl (readFile "../values/values-nuxeo-third-party.yaml.gotmpl") . | nindent 2 }}
  architecture: "api-worker"
  replicaCount: 1
  workerCount: 1
minio:
  enabled: true
mongodb:
  enabled: true
kafka:
  enabled: true
opensearch:
  enabled: true
