# enabled conditions used in helmfile.yaml
deployment:
  minio:
    enabled: true
  mongodb:
    enabled: true
  kafka:
    enabled: true
  opensearch:
    enabled: true
# values injected in each chart
nuxeo:
  architecture: "api-worker"
  replicaCount: 1
  workerCount: 1
