{{- $localDomain := printf "%s.svc.cluster.local" .Namespace -}}
## See https://github.com/nuxeo/nuxeo-helm-chart/blob/master/nuxeo/values.yaml
image:
  tag: "2021.x"
mongodb:
  enabled: true
  host: {{ printf "mongodb.%s" $localDomain }}
elasticsearch:
  enabled: true
  host: {{ printf "elasticsearch-master.%s" $localDomain }}
kafka:
  enabled: true
  host: {{ printf "kafka.%s" $localDomain }}
