{{- $dot := . -}}
{{- range splitList "," (include "nuxeo.nodeTypes" .) }}
{{- $nuxeoNodeType := . -}}
{{- $data := dict "Values" $dot.Values "Chart" $dot.Chart "Release" $dot.Release "nuxeoNodeType" $nuxeoNodeType -}}
{{- with $ }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "nuxeo.fullname" $data }}
  labels: {{- include "nuxeo.labels" $data | nindent 4 }}
spec:
  selector:
    matchLabels: {{- include "nuxeo.selectorLabels" $data | nindent 6 }}
  replicas: {{ ternary (default 1 .Values.workerCount) .Values.replicaCount (eq $nuxeoNodeType "worker") }}
  strategy:
    type: {{ .Values.strategy.type }}
  template:
    metadata:
      labels: {{- include "nuxeo.labels" $data | nindent 8 }}
{{- with .Values.podLabels }}
{{ toYaml . | indent 8 }}
{{- end }}
      annotations:
        checksum/configmap: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        rollme: {{ ternary (randAlphaNum 5 | quote) "unchanged" (eq "true" (include "nuxeo.deployment.roll" .)) }}
{{- with .Values.podAnnotations }}
{{ toYaml . | indent 8 }}
{{- end }}
    spec:
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets: {{ toYaml . | nindent 6}}
      {{- end }}
      serviceAccountName: {{ include "nuxeo.serviceAccountName" . }}
      containers:
      - name: {{ .Chart.Name }}
        {{- with .Values.containerSecurityContext }}
        securityContext: {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.resources }}
        resources: {{- toYaml . | nindent 10 }}
        {{- end }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
{{- if .Values.image.pullPolicy }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
{{- end }}
        ports:
        - containerPort: {{ .Values.service.internalPort }}
          name: tomcat
        {{- with .Values.extraContainerPorts -}}
        {{ toYaml . | nindent 8 }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: {{ .Values.probePath }}
            port: {{ .Values.service.internalPort }}
          {{- with .Values.livenessProbe.initialDelaySeconds }}
          initialDelaySeconds: {{ toYaml . }}
          {{- end }}
          periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          successThreshold: {{ .Values.livenessProbe.successThreshold }}
          timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
          failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
        readinessProbe:
          httpGet:
            path: {{ .Values.probePath }}
            port: {{ .Values.service.internalPort }}
          {{- with .Values.readinessProbe.initialDelaySeconds }}
          initialDelaySeconds: {{ toYaml . }}
          {{- end }}
          periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          successThreshold: {{ .Values.readinessProbe.successThreshold }}
          timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
          failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
        startupProbe:
          httpGet:
            path: {{ .Values.probePath }}
            port: {{ .Values.service.internalPort }}
          {{- with .Values.startupProbe.initialDelaySeconds }}
          initialDelaySeconds: {{ toYaml . }}
          {{- end }}
          periodSeconds: {{ .Values.startupProbe.periodSeconds }}
          successThreshold: {{ .Values.startupProbe.successThreshold }}
          timeoutSeconds: {{ .Values.startupProbe.timeoutSeconds }}
          failureThreshold: {{ .Values.startupProbe.failureThreshold }}
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_UID
          valueFrom:
            fieldRef:
              fieldPath: metadata.uid
{{- if .Values.clid }}
        - name: NUXEO_CLID
          valueFrom:
            secretKeyRef:
              name: {{ template "nuxeo.fullname" . }}-instance-clid
              key: CLID
{{- end }}
{{- if .Values.packages }}
        - name: NUXEO_PACKAGES
          value: {{ .Values.packages }}
{{- end }}
{{- if .Values.customEnvs }}
{{ toYaml .Values.customEnvs | indent 8 }}
{{- end }}
        envFrom:
{{- if .Values.customEnvsFrom }}
{{ toYaml .Values.customEnvsFrom | indent 8 }}
{{- end }}
        volumeMounts:
          - name: nuxeoconf
            mountPath: /etc/nuxeo/conf.d/00-nuxeo.conf
            subPath: 00-nuxeo.conf
          {{- range $key, $val := .Values.customProperties }}
          {{- with $ }}
          - name: nuxeoconf-{{ $key }}
            mountPath: /etc/nuxeo/conf.d/nuxeo-{{ $key }}.conf
            subPath: nuxeo-{{ $key }}.conf
          {{- end }}
          {{- end }}
          - name: log
            mountPath: /var/log/nuxeo
          {{- if not (include "nuxeo.cloudProvider.enabled" .) }}
          - name: binaries
            mountPath: /var/lib/nuxeo/binaries
          {{- end }}
          {{- with .Values.extraVolumeMounts }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
      {{- with .Values.extraContainers }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      initContainers:
{{- if and .Values.mongodb.enabled .Values.mongodb.host }}
      - name: init-mongodb
        image: busybox
        imagePullPolicy: {{ .Values.initContainers.imagePullPolicy }}
        command: ['sh', '-c', 'until nc -w1 {{ .Values.mongodb.host }} {{ .Values.mongodb.port }}; do echo "waiting for mongodb"; sleep 2; done;']
{{- end }}
{{- if .Values.postgresql.enabled }}
      - name: init-postgresql
        image: busybox
        imagePullPolicy: {{ .Values.initContainers.imagePullPolicy }}
        command: ['sh', '-c', 'until nc -w1 {{ .Values.postgresql.host }} {{ .Values.postgresql.port }}; do echo "waiting for postgresql"; sleep 2; done;']
{{- end }}
{{- if .Values.elasticsearch.enabled }}
      - name: init-elasticsearch
        image: busybox
        imagePullPolicy: {{ .Values.initContainers.imagePullPolicy }}
        command: ['sh', '-c', 'until nc -w1 {{ .Values.elasticsearch.host }} {{ .Values.elasticsearch.port }}; do echo "waiting for elastic"; sleep 2; done;']
{{- end }}
{{- if .Values.kafka.enabled }}
      - name: init-kafka
        image: busybox
        imagePullPolicy: {{ .Values.initContainers.imagePullPolicy }}
        command: ['sh', '-c', 'until nc -w1 {{ .Values.kafka.host }} {{ .Values.kafka.port }}; do echo "waiting for kafka"; sleep 2; done;']
{{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: nuxeoconf
        configMap:
          name: {{ template "nuxeo.fullname" (merge (dict "suffix" "-conf") $data) }}
      {{- range $key, $val := .Values.customProperties }}
      {{- with $ }}
      - name: nuxeoconf-{{ $key }}
        configMap:
          name: {{ template "nuxeo.fullname" . }}-conf-{{ $key }}
      {{- end }}
      {{- end }}
      - name: log
        {{- if .Values.logs.persistence.enabled }}
        persistentVolumeClaim:
          claimName: {{ template "nuxeo.fullname" . }}-log
        {{- else }}
        emptyDir: {}
        {{- end }}
      {{- if not (include "nuxeo.cloudProvider.enabled" .) }}
      - name: binaries
        {{- if .Values.persistentVolumeStorage.enabled }}
        persistentVolumeClaim:
          claimName: {{ template "nuxeo.fullname" . }}-binaries
        {{- else }}
        emptyDir: {}
        {{- end }}
      {{- end }}
      {{- with .Values.extraVolumes }}
      {{- toYaml . | nindent  6 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
{{- end }}
