nuxeo:
  image:
    repository: nuxeo/nuxeo
    tag: master
  replicaCount: 1
  resources:
    requests:
      memory: 1Gi
      cpu: 0.4
    limits:
      memory: 2Gi
      cpu: 1
  service:
    type: ClusterIP
    externalPort: 80
    internalPort: 8080
    annotations:
      fabric8.io/expose: "true"
      fabric8.io/ingress.annotations: "kubernetes.io/ingress.class: nginx"
  probePath: /nuxeo/runningstatus
  livenessProbe:
    initialDelaySeconds: 100
    periodSeconds: 20
    successThreshold: 1
    failureThreshold: 5
    timeoutSeconds: 10
  readinessProbe:
    periodSeconds: 20
    initialDelaySeconds: 100
    successThreshold: 1
    timeoutSeconds: 10
    failureThreshold: 5
  terminationGracePeriodSeconds: 10
  mongodb:
    dbname: nuxeo
    backup:
      enable: false
      schedule: "0 0 */3 * *"
      aws:
        bucket: "mongo-backup-bucket"
        secret: "mongo-backup-aws-secret"
  postgresql:
    dbname: nuxeo
    username: nuxeo
    password: nuxeo
  elasticsearch:
    clusterName: elasticsearch
    indexName: nuxeo
    deploy: false
  ingress:
    enabled: false
    annotations:
      kubernetes.io/ingress.class: nginx
  persistence:
    enabled: false
    storageClass: standard
    size:
      binaries: 10Gi
      tmp: 10Gi
    annotations: {}
  ##packages: nuxeo-web-ui
  custom_params: |-
    # add any other params that go into nuxeo.conf
  ## Define the configuration for the env variables referenced in nuxeo.conf
  ## custom_envs allows to define an env variable from a key of a ConfigMap
  custom_envs:
  ## custom_envsFrom allows to load the content of a ConfigMap as environment variables
  custom_envsFrom:

## Values from here can be customized https://github.com/helm/charts/blob/master/stable/mongodb/values.yaml
mongodb:
  image:
    tag: 4.0.6
  usePassword: false
  persistence:
    enabled: false

## Override values for postgresql from https://github.com/helm/charts/blob/master/stable/postgresql/values.yaml
postgresql:
  image:
    tag: 9.6.11
  initdbScripts:
    db-init.sql: |
      CREATE ROLE nuxeo WITH PASSWORD 'nuxeo' LOGIN;
      CREATE DATABASE nuxeo ENCODING 'UTF8' OWNER nuxeo;
  persistence:
    enabled: false

## Override values from https://github.com/helm/charts/blob/master/stable/elasticsearch/values.yaml
## these are for a staging cluster only, but it needs 2 masters anyway
elasticsearch:
  appVersion: "6.2"
  cluster:
    env:
      MINIMUM_MASTER_NODES: "1"
      EXPECTED_MASTER_NODES: "1"
      RECOVER_AFTER_MASTER_NODES: "1"
  serviceAccounts:
    client:
      create: false
      name:
    master:
      create: false
      name:
    data:
      create: false
      name:
  client:
    replicas: 1
    resources:
      limits:
        cpu: 1
        memory: 1024Mi
      requests:
        cpu: 25m
        memory: 512Mi
  master:
    replicas: 1
    persistence:
      enabled: false
    resources:
      limits:
        cpu: 1
        memory: 1024Mi
      requests:
        cpu: 25m
        memory: 512Mi
  data:
    replicas: 1
    persistence:
      enabled: false
    resources:
      limits:
        cpu: 1
        memory: 2048Mi
      requests:
        cpu: 25m
        memory: 1536Mi

## Override values from https://github.com/helm/charts/blob/master/incubator/kafka/values.yaml
## staging values only, no need for 3 replicas and zoopkeper ( must be 1, 3, kafla needs zookeper)
## see https://github.com/jenkins-x/jx/issues/2504
kafka:
  replicas: 1
  zookeeper:
    replicaCount: 1
  persistence:
    enabled: false
  prometheus:
    operator:
      enabled: false
  limits:
    cpu: 200m
    memory: 1536Mi
  requests:
    cpu: 100m
    memory: 1024Mi

## Override values from https://github.com/helm/charts/blob/master/stable/redis/values.yaml
## staging values only, no need for a cluster
redis:
  cluster:
    enabled: false
  usePassword: false
  master:
    persistence:
      enabled: false

## These tags are used to control the deployment of these services.
## When this chart is deployed directly, to enable any of these pass these tags as true: helm install nuxeo --set tags.mongodb=true
## When this chart is use as a dependecy in another subchart, than set the variable nuxeo.mongodb.deploy a true

tags:
  mongodb: false
  redis: false
  kafka: false
  elasticsearch: false
  postgresql: false
